.updates
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  .citizen-reports.twitter-tab
    <style type="text/css">#twitter-widget-1{width:70%}</style>
    <a class="twitter-timeline" href="#{@emergency_data.citizen_timeline_id}" width="500px" height="660" data-chrome="noheader nofooter noborders" data-aria-polite="assertive"></a>
  .official-reports.twitter-tab
    <style type="text/css">#twitter-widget-2{width:70%}</style>
    <a class="twitter-timeline" href="#{@emergency_data.partner_timeline_id}" width="500px" height="660" data-chrome="noheader nofooter noborders" data-aria-polite="assertive"></a>
  .status.twitter-tab
    <style type="text/css">#twitter-widget-3{width:70%}</style>
    <a class="twitter-timeline" href="#{@emergency_data.transportation_timeline_id}" width="500px" height="660" data-chrome="noheader nofooter noborders" data-aria-polite="assertive"></a>